.chatbox {
  margin: 10px;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  background-color: white;
  color: black;
  height: 60vh;
  overflow: auto;
} 

.textarea { 
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px; 
} 

.message {
  white-space: pre;
  margin-bottom: 6px;
  margin-left: 10px;
}

form {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  width:80vh;
  margin: 10px;
}