<div class="container">
  <div class="chatbox">
    <span *ngFor="let message of messages"> 
      <div>
        <strong>{{ message.user }}</strong> {{ message.date }}
      </div>
      <div>{{ message.text }}</div>
    </span>
  </div>
  <form>
    <quill-editor
      #quillRef
      format="text"
      [formControl]="quill"
      [modules]="{ toolbar: false, keyboard: { bindings: bindings } }"
      [placeholder]="' '"
      [styles]="{ minHeight: '70px' }"
    >
    </quill-editor>
    <button mat-raised-button class="send-button" (click)="submit()">
      Send
    </button>
  </form>
</div>
