.container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.radioGroup {
  margin-bottom: 15px;
}

.radioElement {
  margin-right: 10px;
}

.mat-select-value {
  max-width: 100%;
  width: auto;
}
