form {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-form-field {
  margin: 10px;
}

.calendar {
  display:flex;
  width: 100%; 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; 
}

.columnRow {
  display:flex;
  flex-direction: row;
}

.dayHeader {
  display: flex;
  width:100%;
  background-color: white;
  color: black;
}

.dayHeaderElement {
  flex: 1 auto;
  text-align: center;
}

.dayElement {
  flex: 1 0 auto;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  width:13.0%;
  height: 100px; 
}