<form>
  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <mat-select
      [(ngModel)]="selectedYear"
      name="selectedYear"
      (ngModelChange)="loadMonths()"
    >
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Month</mat-label>
    <mat-select
      [(ngModel)]="selectedMonth"
      name="selectedMonth"
      (ngModelChange)="fetch()"
    >
      <mat-option *ngFor="let month of months; let i = index" [value]="i">
        {{ month }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div class="dayHeader">
  <div class="dayHeaderElement" *ngFor="let day of days">
    {{ day }}
  </div>
</div>
<div class="calendar">
  <div class="dayElement" *ngFor="let day of daysArray">
    {{ day.name }}
  </div>
</div>
