.container {
    display: flex;
    justify-content: space-evenly; 
}

.title {
    text-align: center;
    padding: 10px 0;
    height: 40px;
    width:100%;
}

.item {
    width:100%;
    text-align: center; 
}
 
.text {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}